
$grid-base: (
   columns: 12,
   gutter: 0px,
   media: 0px,
 );
 $grid-512: (
   columns: 12,
   gutter: 0px,
   media: 512px,
 );
 $grid-768: (
   columns: 12,
   gutter: 0px,
   media: 768px,
 );
 $grid-800: (
   columns: 12,
   gutter: 0px,
   media: 800px,
 );
 $grid-1024: (
   columns: 12,
   gutter: 0px,
   media: 1024px,
 );


 html {
   height: 100%;
   body {
      height: 100%;
      position: relative;
      header, main {
        margin-left: 20px;
        p:last-child {
          margin-bottom: 100px;
        }
      }
      .content-wrapper {
         @include grid-container;
         // box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
         width: 100%;
         // max-width: 1024px;
         min-width: 412px;
         margin: auto;
         padding-top: 1.6em;
      }
   }
} 

.content-wrapper {
   
   .page-container {
      @include grid-media($grid-base)
      {
         @include grid-column(12 of 12);
      }
      @include grid-media($grid-1024)
      {
         @include grid-column(6 of 12);
      }
   }
   
  .img-wrapper {
    img {
      position: fixed;
      bottom: 0;
      right: 0;
      display: none;
      @include grid-column(6 of 12);
      @include grid-media($grid-1024)
      {
        display: block;
      }
    }
  }

   
   .nav-wrapper {
      position: fixed;
      bottom: 0;
      left:0;
      padding: 20px 0;
      padding-left: 2.2%;
      background: white;
      a {
         display: inline-block;
         margin-right: 40px;
         line-height: 24px;
      }
      svg {
         height: 20px;
         width: 20px;
         vertical-align: top;

      }
      @include grid-media($grid-base)
      {
         @include grid-column(12 of 12);
      }
      @include grid-media($grid-1024)
      {
         @include grid-column(6 of 12);
      }
   }
}
