$display-stack: "Courier New", serif;
$body-stack: "Courier New", serif; //"Poppin", sans-serif;
$block-stack: "Poppin", sans-serif;

*, p, label {
   font-family: $body-stack;
}
p {
   line-height: 1.5em;
   font-size: modular-scale(0);
   margin-bottom: 1em;
   @include grid-media($grid-1024)
   {
      font-size: modular-scale(1);
   }
}

em {
   font-style: italic;
}

h1, h2, h3, h4, h5, h6, a {
   font-family: $display-stack;
   transition: all .5s;
}

h1 {
   font-size: 1.6em;
   margin-bottom: .5em;
   color: black;
   text-decoration: none;
   font-weight: 400 !important;
   @include grid-media($grid-512)
   {
      font-size: modular-scale(2);
   }
   @include grid-media($grid-800)
   {
      font-size: modular-scale(4);
   }
}

h3 {
   font-size: modular-scale(1);
   margin-bottom: .5em;
   @include grid-media($grid-800)
   {
      font-size: modular-scale(2);
   }
}

a {
   font-weight: 600;
   color: black;
   text-decoration: none;
   &:hover {
      color: darken(#725037,0);
   }
   &:visited {
      color: black;
      &:hover {
         color: darken(#725037,0);
      }
   }
}

.nav-wrapper a {
   font-size: modular-scale(0);
   text-decoration: none;
   color: black;
   @include grid-media($grid-1024)
   {
      font-size: modular-scale(1);
   }
}

.landing-page-quote {
   font-family: $display-stack;
   font-size: modular-scale(2);
   //padding: 0 0 0 200px;
   font-style: italic;
   margin-top: 35vh;
   margin-left: 10vw;
}

@font-face {
   font-family: "pterra-dactyl";
   src: url("../assets/pterra-dactyl.ttf") format("truetype");
}

