/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "pterra-dactyl";
  src: url(/fonts/pterra-dactyl.ttf) format("truetype"); }

@-webkit-keyframes sharpen {
  0% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(20px)); }
  100% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(0px)); } }

@-moz-keyframes sharpen {
  0% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(20px)); }
  100% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(0px)); } }

@keyframes sharpen {
  0% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(20px)); }
  100% {
    background-image: filter(url(/ce6e1ba297a065a872bad25be23413c8.jpg), blur(0px)); } }

html {
  height: 100%; }
  html body {
    height: 100%;
    position: relative;
    padding-top: 1.6em; }
    html body div#bg {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAXCAYAAABj7u2bAAACCElEQVRIie2WQW/TQBCFv1nvxnZoaSpKqyogEGeExAHx7/kB/IJyQUJAg5BISZq0Te2d4WA3cUqboBpKD30He7U72nl+82bXEkJq3CG4/03gMu4JrcM9oXW4c4R86x0MkHpgsrwml+IA5Iq4RnwrQma2nAxrEGzON6A1qd82q15/v2TXfPzadaket+QhWcGkCbstQsZyLa/DP1XoquTrr82WXSYrkizm1exSmKF1iBMhcQ6rVWzf9n8AQUBA5qI5Okk1iiqo6VzPloRWl+DiWNjf3SHtBDQqphHDkUhkq5vzbThm8OMI7317QqsKVhEC5yBLA3maUpYFqp5e5jganRAVgndLu7QytSFrbWoGqoqhRIMsESaDT7x82mV/t8fx5IxmA7Qi5MSQ2rAXTb3UW3KhkiMkCRh0grC3vUH+cJO3r/q1rxamb1UyJw7vhWjG7DwirjKu1dTEDDPwiaMTAmJwGpX9vT7v3n/kw5cRL57sMDw4np/UctN/ajMjeE/wHtFzeknJaOb4GT15EjE1ZgpOYKObEXyCWZV3VoJYJMs6+NRzePgdnwSQFm0fDTYdZB1hUOT4xw9IzZF8HnJWFmx1PZTGeaGMJxPMlEVRqzOn9+gZZVkAOr9wb64Q4NUoBJ6/ec1JGemnBdsnYw6+HjEdTokiTGqV1Jr+EsyMPM8BOD2dIuIA4Rd+3s0WW6IGfQAAAABJRU5ErkJggg==");
      background-position: center center;
      background-size: cover;
      display: block;
      height: 100%;
      width: 100%;
      transform: translateZ(0);
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1; }
      html body div#bg.bg-loaded {
        -webkit-animation: sharpen 0.5s both;
        -moz-animation: sharpen 0.5s both;
        animation: sharpen 0.5s both;
        background-image: url(/ce6e1ba297a065a872bad25be23413c8.jpg); }
    html body div#app {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 1.6em;
      box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
      width: 96%;
      max-width: 1024px;
      min-width: 412px;
      margin: auto;
      margin-bottom: 1.6em;
      background-color: white;
      font-family: 'Poppins', sans-serif; }
      html body div#app::after {
        clear: both;
        content: "";
        display: block; }
      html body div#app h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 8.5298%;
        margin-right: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 1.77689em;
        margin-bottom: .25em;
        text-align: left;
        margin-top: 3%; }
        html body div#app h1:last-child {
          margin-right: 0; }
        @media screen and (min-width: 512px) {
          html body div#app h1 {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-right: 0;
            font-family: 'Poppins', sans-serif;
            font-size: 2.36859em;
            margin-bottom: .25em;
            text-align: left;
            margin-top: 3%; }
            html body div#app h1:last-child {
              margin-right: 0; } }
        @media screen and (min-width: 624px) {
          html body div#app h1 {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 74.41059%;
            margin-left: 0%;
            margin-right: 0;
            text-align: right;
            font-size: 2.36859em;
            margin-top: 0; }
            html body div#app h1:last-child {
              margin-right: 0; } }
      html body div#app h2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 1.333em;
        font-weight: 300;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: left;
        display: none; }
        html body div#app h2:last-child {
          margin-right: 0; }
        @media screen and (min-width: 512px) {
          html body div#app h2 {
            font-size: 1.77689em; } }
        @media screen and (min-width: 624px) {
          html body div#app h2 {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 74.41059%;
            margin-right: 0;
            display: block;
            text-align: right;
            margin-top: 0;
            font-size: 1.77689em; }
            html body div#app h2:last-child {
              margin-right: 0; } }
      html body div#app .img-wrapper {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        html body div#app .img-wrapper:last-child {
          margin-right: 0; }
        @media screen and (min-width: 624px) {
          html body div#app .img-wrapper {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 23.23176%; }
            html body div#app .img-wrapper:last-child {
              margin-right: 0; } }
        html body div#app .img-wrapper img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          border-radius: 50%; }
          html body div#app .img-wrapper img:last-child {
            margin-right: 0; }
        html body div#app .img-wrapper .top-nav {
          display: none; }
          @media screen and (min-width: 768px) {
            html body div#app .img-wrapper .top-nav {
              display: block; }
              html body div#app .img-wrapper .top-nav a {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 48.82117%;
                margin-bottom: 1em; }
                html body div#app .img-wrapper .top-nav a:last-child {
                  margin-right: 0; }
                html body div#app .img-wrapper .top-nav a:nth-child(3n) {
                  margin-right: 2.35765%; }
                html body div#app .img-wrapper .top-nav a:nth-child(3n+1) {
                  clear: none; }
                html body div#app .img-wrapper .top-nav a:nth-child(2n) {
                  margin-right: 0; }
                html body div#app .img-wrapper .top-nav a:nth-child(2n+1) {
                  clear: left; } }
      html body div#app .header-block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0; }
        html body div#app .header-block:last-child {
          margin-right: 0; }
        @media screen and (min-width: 768px) {
          html body div#app .header-block {
            margin-left: 8.5298%;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 65.88078%;
            margin-right: 0; }
            html body div#app .header-block:last-child {
              margin-right: 0; } }
      html body div#app .top-nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        display: block;
        margin: 1em 0; }
        html body div#app .top-nav:last-child {
          margin-right: 0; }
        @media screen and (min-width: 768px) {
          html body div#app .top-nav {
            display: none; } }
      html body div#app .content-block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: left; }
        html body div#app .content-block:last-child {
          margin-right: 0; }
        html body div#app .content-block .content-block-header {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-top: .5em;
          margin-bottom: 1em;
          font-family: 'pterra-dactyl', serif;
          text-transform: uppercase;
          font-size: 1.77689em;
          width: 100%;
          text-align: center;
          display: block;
          line-height: 1.77689em; }
          html body div#app .content-block .content-block-header:last-child {
            margin-right: 0; }
      html body div#app .subpage hr {
        margin-top: 0;
        margin-bottom: 1em;
        display: block;
        border: none;
        border-bottom: 1px solid black; }
      html body div#app .subpage .content-block {
        margin-top: 1em;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        html body div#app .subpage .content-block:last-child {
          margin-right: 0; }
        @media screen and (min-width: 712px) {
          html body div#app .subpage .content-block {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 74.41059%;
            margin-right: 0; }
            html body div#app .subpage .content-block:last-child {
              margin-right: 0; } }
        html body div#app .subpage .content-block p {
          font-size: 1.333em;
          line-height: 1.77689em;
          margin-bottom: 1em;
          display: block; }
        html body div#app .subpage .content-block a {
          text-decoration: none;
          color: #725037;
          font-weight: 400; }
          html body div#app .subpage .content-block a:hover {
            color: #2d2016; }
        html body div#app .subpage .content-block .project {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-bottom: 2em; }
          html body div#app .subpage .content-block .project:last-child {
            margin-right: 0; }
          @media screen and (min-width: 512px) {
            html body div#app .subpage .content-block .project {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 48.82117%; }
              html body div#app .subpage .content-block .project:last-child {
                margin-right: 0; }
              html body div#app .subpage .content-block .project:nth-child(2n) {
                margin-right: 0; }
              html body div#app .subpage .content-block .project:nth-child(2n+1) {
                clear: left; } }
          @media screen and (min-width: 1024px) {
            html body div#app .subpage .content-block .project {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 31.76157%; }
              html body div#app .subpage .content-block .project:last-child {
                margin-right: 0; }
              html body div#app .subpage .content-block .project:nth-child(2n) {
                margin-right: 2.35765%; }
              html body div#app .subpage .content-block .project:nth-child(2n+1) {
                clear: none; }
              html body div#app .subpage .content-block .project:nth-child(3n) {
                margin-right: 0; }
              html body div#app .subpage .content-block .project:nth-child(3n+1) {
                clear: left; } }
          html body div#app .subpage .content-block .project .project-image {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%; }
            html body div#app .subpage .content-block .project .project-image:last-child {
              margin-right: 0; }
          html body div#app .subpage .content-block .project .project-title {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 65.88078%;
            margin-right: 0;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            margin-top: 1.5em; }
            html body div#app .subpage .content-block .project .project-title:last-child {
              margin-right: 0; }
          html body div#app .subpage .content-block .project .project-desc {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            line-height: 1.333em;
            margin-top: 1em; }
            html body div#app .subpage .content-block .project .project-desc:last-child {
              margin-right: 0; }
          html body div#app .subpage .content-block .project a {
            color: black; }
            html body div#app .subpage .content-block .project a:hover {
              color: #725037; }
      html body div#app .desc-block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        html body div#app .desc-block:last-child {
          margin-right: 0; }
        html body div#app .desc-block .basic-stat {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%; }
          html body div#app .desc-block .basic-stat:last-child {
            margin-right: 0; }
          html body div#app .desc-block .basic-stat:nth-child(2n) {
            margin-right: 2.35765%; }
          html body div#app .desc-block .basic-stat:nth-child(2n+1) {
            clear: none; }
          html body div#app .desc-block .basic-stat:nth-child(3n) {
            margin-right: 2.35765%; }
          html body div#app .desc-block .basic-stat:nth-child(3n+1) {
            clear: none; }
          html body div#app .desc-block .basic-stat:nth-child(6n) {
            margin-right: 0; }
          html body div#app .desc-block .basic-stat:nth-child(6n+1) {
            clear: left; }
      html body div#app .skills-block, html body div#app .attrs-block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1; }
        html body div#app .skills-block:last-child, html body div#app .attrs-block:last-child {
          margin-right: 0; }
        @media screen and (min-width: 512px) {
          html body div#app .skills-block, html body div#app .attrs-block {
            -webkit-columns: 2;
            -moz-columns: 2;
            columns: 2; } }
        @media screen and (min-width: 768px) {
          html body div#app .skills-block, html body div#app .attrs-block {
            -webkit-columns: 3;
            -moz-columns: 3;
            columns: 3; } }
      html body div#app .basic-stat {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 1em;
        display: inline-block; }
        html body div#app .basic-stat:last-child {
          margin-right: 0; }
        html body div#app .basic-stat:nth-child(2n) {
          margin-right: 0; }
        html body div#app .basic-stat:nth-child(2n+1) {
          clear: left; }
        @media screen and (min-width: 768px) {
          html body div#app .basic-stat {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%; }
            html body div#app .basic-stat:last-child {
              margin-right: 0; } }
        @media screen and (min-width: 1024px) {
          html body div#app .basic-stat {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%; }
            html body div#app .basic-stat:last-child {
              margin-right: 0; }
            html body div#app .basic-stat:nth-child(2n) {
              margin-right: 2.35765%; }
            html body div#app .basic-stat:nth-child(2n+1) {
              clear: none; }
            html body div#app .basic-stat:nth-child(3n) {
              margin-right: 0; }
            html body div#app .basic-stat:nth-child(3n+1) {
              clear: left; } }
        html body div#app .basic-stat label {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          font-weight: 600;
          margin-top: .2em;
          font-size: 0.75019em;
          display: inline-block;
          text-transform: uppercase; }
          html body div#app .basic-stat label:last-child {
            margin-right: 0; }
        html body div#app .basic-stat span, html body div#app .basic-stat a {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          border-bottom: 1px solid black;
          font-size: 1.333em;
          color: black;
          text-decoration: none;
          font-family: 'Sue Ellen Francisco', sans-serif; }
          html body div#app .basic-stat span:last-child, html body div#app .basic-stat a:last-child {
            margin-right: 0; }
        html body div#app .basic-stat a:hover {
          color: #725037; }
      html body div#app .dot-stat {
        margin-top: 1em; }
        html body div#app .dot-stat label {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 57.35098%;
          max-width: 150px;
          text-transform: uppercase;
          font-family: 'Poppins', sans-serif; }
          html body div#app .dot-stat label:last-child {
            margin-right: 0; }
        html body div#app .dot-stat:first-child {
          margin-top: 0; }
        html body div#app .dot-stat .dot {
          height: 12px;
          width: 12px;
          margin-right: 4px;
          border: 2px solid black;
          border-radius: 50%;
          display: inline-block; }
          html body div#app .dot-stat .dot.filled {
            background-color: black; }

.top-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .top-nav:last-child {
    margin-right: 0; }
  .top-nav a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-decoration: none;
    color: #725037;
    text-align: center;
    font-size: 0.75019em;
    text-transform: uppercase; }
    .top-nav a:last-child {
      margin-right: 0; }
    .top-nav a:nth-child(4n) {
      margin-right: 0; }
    .top-nav a:nth-child(4n+1) {
      clear: left; }
    .top-nav a:hover {
      color: #2d2016; }

.list-details {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .list-details:last-child {
    margin-right: 0; }
  @media screen and (min-width: 512px) {
    .list-details {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .list-details:last-child {
        margin-right: 0; } }
  .list-details label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: 'pterra-dactyl', serif;
    text-transform: uppercase;
    font-size: 1.77689em;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 1.77689em; }
    .list-details label:last-child {
      margin-right: 0; }
  .list-details .detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.333em;
    font-family: 'Sue Ellen Francisco', sans-serif;
    margin-bottom: 1em; }
    .list-details .detail:last-child {
      margin-right: 0; }

.divider {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 2em; }
  .divider:last-child {
    margin-right: 0; }

footer {
  width: 50%;
  min-width: 300px;
  margin: auto; }
  footer a {
    text-decoration: none;
    color: #725037;
    text-align: center;
    font-size: 0.75019em;
    text-transform: uppercase;
    line-height: 20px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    footer a:last-child {
      margin-right: 0; }
    footer a svg {
      height: 16px;
      width: 16px; }
      footer a svg path {
        fill: #725037 !important; }
    footer a:hover {
      color: #2d2016; }
      footer a:hover svg path {
        fill: #2d2016 !important; }

.header-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: .5em;
  font-size: 1.77689em;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid black; }
  .header-text:last-child {
    margin-right: 0; }
  @media screen and (min-width: 712px) {
    .header-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-right: 0; }
      .header-text:last-child {
        margin-right: 0; } }

.attacks-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .attacks-block:last-child {
    margin-right: 0; }
  @media screen and (min-width: 512px) {
    .attacks-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .attacks-block:last-child {
        margin-right: 0; }
      .attacks-block .header {
        width: 50%; } }
  .attacks-block .header {
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: 'pterra-dactyl', serif;
    text-transform: uppercase;
    font-size: 1.77689em;
    text-align: center;
    display: block;
    line-height: 1.77689em; }
  .attacks-block .attack-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 1em; }
    .attacks-block .attack-row:last-child {
      margin-right: 0; }
    .attacks-block .attack-row .written-row {
      border-bottom: 1px solid black;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      font-size: 1.333em;
      font-family: 'Sue Ellen Francisco', sans-serif; }
      .attacks-block .attack-row .written-row:last-child {
        margin-right: 0; }
    .attacks-block .attack-row .attack-name {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .attacks-block .attack-row .attack-name:last-child {
        margin-right: 0; }
    .attacks-block .attack-row .attack-dice, .attacks-block .attack-row .attack-special {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .attacks-block .attack-row .attack-dice:last-child, .attacks-block .attack-row .attack-special:last-child {
        margin-right: 0; }
    .attacks-block .attack-row .attack-special {
      margin-right: 0; }
    .attacks-block .attack-row label {
      text-transform: uppercase;
      font-size: 0.75019em;
      margin-top: .2em;
      font-weight: 600; }

.status-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .status-block:last-child {
    margin-right: 0; }
  @media screen and (min-width: 512px) {
    .status-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .status-block:last-child {
        margin-right: 0; } }
  .status-block .header {
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: 'pterra-dactyl', serif;
    text-transform: uppercase;
    font-size: 1.77689em;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 1.77689em; }
  .status-block .bars {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .status-block .bars:last-child {
      margin-right: 0; }
    .status-block .bars .status {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      .status-block .bars .status:last-child {
        margin-right: 0; }
      .status-block .bars .status:nth-child(3n) {
        margin-right: 0; }
      .status-block .bars .status:nth-child(3n+1) {
        clear: left; }
      .status-block .bars .status label {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: .5em;
        text-transform: uppercase;
        font-size: 0.75019em;
        font-weight: 600; }
        .status-block .bars .status label:last-child {
          margin-right: 0; }
      .status-block .bars .status .bar-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 1em; }
        .status-block .bars .status .bar-container:last-child {
          margin-right: 0; }
      .status-block .bars .status .status-bar {
        height: 50px;
        position: relative;
        width: 20px;
        margin: auto;
        border: 1px solid black;
        border-radius: 3px; }
        .status-block .bars .status .status-bar .value-bar {
          position: absolute;
          width: 18px;
          left: 0;
          bottom: 0;
          border-radius: 2px; }
          .status-block .bars .status .status-bar .value-bar.flat {
            border-top-left-radius: 0;
            border-top-right-radius: 0; }
        .status-block .bars .status .status-bar.health .value-bar {
          background-color: #722; }
        .status-block .bars .status .status-bar.mana .value-bar {
          background-color: #227; }
        .status-block .bars .status .status-bar.wellbeing .value-bar {
          background-color: #480; }
      .status-block .bars .status .value {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: .5em;
        font-size: 0.75019em; }
        .status-block .bars .status .value:last-child {
          margin-right: 0; }

hr {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2em;
  border: none; }
  hr:last-child {
    margin-right: 0; }

.inventory-block .header {
  margin-top: .5em;
  font-family: 'pterra-dactyl', serif;
  text-transform: uppercase;
  font-size: 1.77689em;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 1.77689em; }

.inventory-block .inventory {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1; }
  .inventory-block .inventory:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .inventory-block .inventory {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3; } }
  .inventory-block .inventory .inventory-item {
    padding-top: 1.25em;
    border-bottom: 1px solid black;
    font-size: 1.333em;
    font-family: 'Sue Ellen Francisco', sans-serif; }

/*# sourceMappingURL=app.css.map*/