@font-face {
    font-family: "pterra-dactyl";
    src: url("../assets/pterra-dactyl.ttf") format("truetype");
}

$grid-512: (
  columns: 12,
  gutter: 0px,
  media: 512px,
);
$grid-624: (
  columns: 12,
  gutter: 0px,
  media: 624px,
);
$grid-712: (
  columns: 12,
  gutter: 0px,
  media: 768px,
);
$grid-768: (
  columns: 12,
  gutter: 0px,
  media: 768px,
);
$grid-1024: (
  columns: 12,
  gutter: 0px,
  media: 1024px,
);

@include keyframes(sharpen) {
 0% {
   background-image: filter(url("../assets/bg.jpg"), blur(20px));
 }
 100% {
   background-image: filter(url("../assets/bg.jpg"), blur(0px));
 }
}

html {
   height: 100%;
   body {
      height: 100%;
      position: relative;
      padding-top: 1.6em;
      div#bg {
         background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAXCAYAAABj7u2bAAACCElEQVRIie2WQW/TQBCFv1nvxnZoaSpKqyogEGeExAHx7/kB/IJyQUJAg5BISZq0Te2d4WA3cUqboBpKD30He7U72nl+82bXEkJq3CG4/03gMu4JrcM9oXW4c4R86x0MkHpgsrwml+IA5Iq4RnwrQma2nAxrEGzON6A1qd82q15/v2TXfPzadaket+QhWcGkCbstQsZyLa/DP1XoquTrr82WXSYrkizm1exSmKF1iBMhcQ6rVWzf9n8AQUBA5qI5Okk1iiqo6VzPloRWl+DiWNjf3SHtBDQqphHDkUhkq5vzbThm8OMI7317QqsKVhEC5yBLA3maUpYFqp5e5jganRAVgndLu7QytSFrbWoGqoqhRIMsESaDT7x82mV/t8fx5IxmA7Qi5MSQ2rAXTb3UW3KhkiMkCRh0grC3vUH+cJO3r/q1rxamb1UyJw7vhWjG7DwirjKu1dTEDDPwiaMTAmJwGpX9vT7v3n/kw5cRL57sMDw4np/UctN/ajMjeE/wHtFzeknJaOb4GT15EjE1ZgpOYKObEXyCWZV3VoJYJMs6+NRzePgdnwSQFm0fDTYdZB1hUOT4xw9IzZF8HnJWFmx1PZTGeaGMJxPMlEVRqzOn9+gZZVkAOr9wb64Q4NUoBJ6/ec1JGemnBdsnYw6+HjEdTokiTGqV1Jr+EsyMPM8BOD2dIuIA4Rd+3s0WW6IGfQAAAABJRU5ErkJggg==');
         //background-image: url("../assets/bg.jpg");
         background-position: center center;
         background-size: cover;
         display: block;
         height: 100%;
         width: 100%;
         transform: translateZ(0);
         position: fixed;
         top: 0;
         left: 0;
         z-index: -1;
         &.bg-loaded {
            @include animation(sharpen .5s both);
            background-image: url("../assets/bg.jpg");
         }
      }

      div#app {
         @include grid-container;
         padding: 1.6em;
         box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
         width: 96%;
         max-width: 1024px;
         min-width: 412px;
         margin: auto;
         margin-bottom: 1.6em;
         background-color: white;
            font-family: 'Poppins', sans-serif;

         h1 {
            @include grid-column (6 of 12);
               @include grid-shift(1);
            font-family: 'Poppins', sans-serif;
            font-size: modular-scale(2);
            margin-bottom: .25em;
            text-align: left;
            margin-top: 3%;
            @include grid-media($grid-512) {            
               @include grid-column (6 of 12);
               font-family: 'Poppins', sans-serif;
               font-size: modular-scale(3);
               margin-bottom: .25em;
               text-align: left;
               margin-top: 3%;
            }

            @include grid-media($grid-624) {
               @include grid-column (9 of 12);
               @include grid-shift(0);
               text-align: right;
               font-size: modular-scale(3);
               margin-top: 0;
            }
         }
         h2 {
            @include grid-column (12 of 12);
            font-family: 'Poppins', sans-serif;
            font-size: modular-scale(1);
            font-weight: 300;
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: left;
            display: none;
            @include grid-media($grid-512) {            
               font-size: modular-scale(2);
            }
            @include grid-media($grid-624) {
               @include grid-column (9 of 12);
               display: block;
               text-align: right;
               margin-top: 0;
               font-size: modular-scale(2);
            }
         }
         .img-wrapper {
            @include grid-column(4 of 12);
            @include grid-media($grid-624) {
               @include grid-column(3 of 12);
            }
            img  {
               @include grid-column (12 of 12);
               border-radius: 50%;
            }
            .top-nav {
               display: none;
               @include grid-media($grid-768) {
                  display: block;
                  a {
                     @include grid-column (6 of 12);
                     margin-bottom: 1em;
                  }
               }
            }
         }

         .header-block {
            @include grid-column(12 of 12);
            @include grid-media($grid-768) {
               @include grid-shift(1);
               @include grid-column (8 of 12);
            }
         }

         .top-nav {
            @include grid-column(12 of 12);
            display: block;
            margin: 1em 0;
            @include grid-media($grid-768) {
               display: none;
            }
         }

         .content-block {
            @include grid-column (12 of 12);
            text-align: left;
            .content-block-header {
               @include grid-column (12 of 12);
               margin-top: .5em;
               margin-bottom: 1em;
               font-family: 'pterra-dactyl', serif;
               text-transform: uppercase;
               font-size: modular-scale(2);
               width: 100%;
               text-align: center;
               display: block;
               line-height: modular-scale(2);


            }
         }

         .subpage {


            hr {

               margin-top: 0;
               margin-bottom: 1em;
               display: block;
               border: none;
               border-bottom: 1px solid black;
            }

            .content-block {
               margin-top: 1em;
               @include grid-column(12 of 12);
               @include grid-media($grid-712) {
                  @include grid-column(9 of 12);
               }
               p {
                  //font-family: 'Port Lligat Slab', serif;
                  font-size: modular-scale(1);
                  line-height: modular-scale(1.6);
                  margin-bottom: 1em;
                  display: block;
               }
               a {
                  text-decoration: none;
                  color: #725037;
                  font-weight: 400;
                  &:hover {
                     color: darken(#725037,20);
                  }
               }

               .project {
                  @include grid-column(12 of 12);
                  @include grid-media($grid-512) {
                     @include grid-column(6 of 12);
                  }
                  @include grid-media($grid-1024) {
                     @include grid-column(4 of 12);
                  }
                  margin-bottom: 2em;
                  .project-image {
                     @include grid-column (4 of 12);
                  }
                  .project-title {
                     @include grid-column (8 of 12);
                     text-transform: uppercase;
                     font-weight: 600;
                     text-align: center;
                     margin-top: 1.5em;

                  }
                  .project-desc {
                     @include grid-column (12 of 12);
                     //font-family: 'Port Lligat Slab', serif;
                     line-height: modular-scale(1);
                     margin-top: 1em;
                  }
                  a {
                     color: black;
                     &:hover {
                        color: darken(#725037,0);
                     }
                  }
               }
            }
         }

         .desc-block {
            @include grid-column (12 of 12);
            .basic-stat {
               @include grid-column (2 of 12);
            }
         }

         .skills-block, .attrs-block {   
            @include grid-column (12 of 12);
            @include columns(1);
            @include grid-media($grid-512) {
               @include columns(2);
            }
            @include grid-media($grid-768) {
               @include columns(3);
            }
         }

         .basic-stat {
            @include grid-column (6 of 12);
            @include grid-media($grid-768) {
               @include grid-column (6 of 12);
            }
            @include grid-media($grid-1024) {
               @include grid-column (4 of 12);

            }
            font-family: 'Poppins', sans-serif;
            text-align: left;
            margin-top: 1em;
            display: inline-block;
            label {
               @include grid-column(12 of 12);
               font-weight: 600;
               margin-top: .2em;
               font-size: modular-scale(-1);
               display: inline-block;
               text-transform: uppercase;
            }
            span, a {
               @include grid-column(12 of 12);
               border-bottom: 1px solid black;
               font-size: modular-scale(1);
               color: black;
               text-decoration: none;
               font-family: 'Sue Ellen Francisco', sans-serif;
               //font-family: 'Shadows Into Light', sans-serif;
            }
            a {
               &:hover {
                  color: darken(#725037,0);
               }
            }
         }

         .dot-stat {
            label {
               @include grid-column(7 of 12);
               //font-variant: small-caps;
               max-width: 150px;
               text-transform: uppercase;
               font-family: 'Poppins', sans-serif;
            }
            margin-top: 1em;
            &:first-child {
               margin-top: 0;
            }
            .dot {
               height: 12px;
               width:12px;
               margin-right: 4px;
               border: 2px solid black;
               border-radius: 50%;
               display: inline-block;
               &.filled {
                  background-color: black;
               }
            }
         }
      }
   }
}

.top-nav {
   @include grid-column(12 of 12);
   a {
      @include grid-column (3 of 12);
      text-decoration: none;
      color: #725037;
      text-align: center;
      font-size: modular-scale(-1);
      text-transform: uppercase;
      &:hover {
         color: darken(#725037,20);
      }
   }
}

.list-details {
   display: block;
   @include grid-column (12 of 12);
   @include grid-media($grid-512) {
      @include grid-column(4 of 12);
   }
   label {
      @include grid-column (12 of 12);
      margin-top: .5em;
      margin-bottom: 1em;
      font-family: 'pterra-dactyl', serif;
      text-transform: uppercase;
      font-size: modular-scale(2);
      width: 100%;
      text-align: center;
      display: block;
      line-height: modular-scale(2);
   }
   .detail {
      @include grid-column (12 of 12);
      border-bottom: 1px solid black;
      font-size: modular-scale(1);
      font-family: 'Sue Ellen Francisco', sans-serif;
      margin-bottom: 1em;
   }
}

.divider {
   @include grid-column(12 of 12);
   height: 2em;
}


footer  {
   width: 50%;
   min-width: 300px;
   margin: auto;
   a {
      text-decoration: none;
      color: #725037;
      text-align: center;
      font-size: modular-scale(-1);
      text-transform: uppercase;
      line-height: 20px;
      @include grid-column (2 of 12);
      svg {
         height: 16px;
         width: 16px;
         path {
            fill: #725037 !important;
         }
      }
      &:hover {
         color: darken(#725037,20);
         svg {
            path {
               fill:  darken(#725037,20) !important;
            }
         }
      } 
   }   
}

.header-text {
   @include grid-column(12 of 12);
   margin-top: .5em;
   @include grid-media($grid-712) {
      @include grid-column(9 of 12);
   }

   font-size: modular-scale(2);
   text-align: left;
   text-transform: uppercase;
   border-bottom: 1px solid black;
}

.attacks-block {
   @include grid-column(12 of 12);
   @include grid-media($grid-512) {
      @include grid-column(8 of 12);
      .header {
         width: 50%;
      }
   }
   .header {
               margin-top: .5em;
               margin-bottom: 1em;
               font-family: 'pterra-dactyl', serif;
               text-transform: uppercase;
               font-size: modular-scale(2);
               text-align: center;
               display: block;
               line-height: modular-scale(2);
   }
   .attack-row {
      @include grid-column(12 of 12);
      margin-bottom: 1em;
      .written-row {
         border-bottom: 1px solid black;
         @include grid-column(12 of 12);
         font-size: modular-scale(1);
         font-family: 'Sue Ellen Francisco', sans-serif;
      }
         .attack-name {
            @include grid-column(6 of 12);
         }
         .attack-dice, .attack-special {
            @include grid-column(3 of 12);
         }
         .attack-special {
         }
      label {
         text-transform: uppercase;
         font-size: modular-scale(-1);
         margin-top: .2em;
         font-weight: 600;
      }
   }
}

.status-block {
   @include grid-column(12 of 12);
   @include grid-media($grid-512) {
      @include grid-column(4 of 12);
   }
   .header {
      margin-top: .5em;
      margin-bottom: 1em;
      font-family: 'pterra-dactyl', serif;
      text-transform: uppercase;
      font-size: modular-scale(2);
      width: 100%;
      text-align: center;
      display: block;
      line-height: modular-scale(2);
   }
   .bars {
      @include grid-column (12 of 12);
      .status {
         @include grid-column(4 of 12);
         text-align: center;
         label {
            @include grid-column (12 of 12);
            margin-bottom: .5em;
            text-transform: uppercase;
            font-size: modular-scale(-1);
            font-weight: 600;
         }
         .bar-container {
            @include grid-column (12 of 12);
            margin-bottom: 1em;
         }
         .status-bar {
            height: 50px;
            position: relative;
            width: 20px;
            margin: auto;
            border: 1px solid black;
            border-radius: 3px;
            .value-bar {
               position: absolute;
               width: 18px;
               left: 0;
               bottom: 0;
               border-radius: 2px;
               &.flat {
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
               }
            }
            &.health {
               .value-bar {
                  background-color: #722;
               }
            }
            &.mana {
               .value-bar {
                  background-color: #227;
               }
            }
            &.wellbeing {
               .value-bar {
                  background-color: #480;
               }
            }
         }
         .value {
            @include grid-column (12 of 12);
            margin-bottom: .5em;
            font-size: modular-scale(-1);
         }
      }
   }
}

hr {
   @include grid-column(12 of 12);
   margin-top: 2em;
   border: none;
}

.inventory-block {
   .header {
      margin-top: .5em;
      font-family: 'pterra-dactyl', serif;
      text-transform: uppercase;
      font-size: modular-scale(2);
      width: 100%;
      text-align: center;
      display: block;
      line-height: modular-scale(2);
   }
   .inventory {
      @include grid-column (12 of 12);
      @include columns(1);
      @include grid-media($grid-768) {
         @include columns(3);
      }
      .inventory-item {
         padding-top: 1.25em;
         border-bottom: 1px solid black;
         font-size: modular-scale(1);
         font-family: 'Sue Ellen Francisco', sans-serif;
      }
   }
}