.projects-container {
   @include grid-collapse;
}

.project {
   @include grid-column(6 of 12);
   @include grid-media($grid-512) {
      @include grid-column(12 of 12);
   }
   @include grid-media($grid-1024) {
      @include grid-column(12 of 12);
   }
   margin-bottom: 2em;
   &:last-child {
      margin-bottom: 100px;
   }
   .project-header {
      // @include grid-media($grid-512) {
      //    @include grid-column(12 of 12);
      // }
      @include grid-media($grid-512) {
         @include grid-column(3 of 12);
      }
   }
   .project-image {
      @include grid-column (12 of 12);
   }
   .project-title {
      @include grid-column (12 of 12);
      font-family: $display-stack;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      margin-top: 1.5em;

   }
   .project-desc {
      @include grid-column (12 of 12);
      display: none; 
      @include grid-media($grid-512) {
         @include grid-column(9 of 12);
         display: block;
         font-size: 1.2em;
      }
      //font-family: 'Port Lligat Slab', serif;
      line-height: modular-scale(1);
      font-family: $body-stack;
   }
   a {
      color: black;
      &:hover {
         color: darken(#725037,0);
      }
   }
}